.column {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.left_aligned {
  margin-right: 2em;
}

hr {
  visibility: hidden;
}

div.localized-footer > hr {
  visibility: visible;
}

table, th, td {
  border-color:transparent;
}

a.gitbook-link {
  visibility: hidden;
}